body{
	background-color:white;
}

.panel{
	height:550px;
	width:500px;
	margin:0px auto;
	border:1px solid white;
	background-color:#FFF5F5;
}
.dp{
	margin:30px;
	height: 120px;
    width: 120px;
    background-color:gray;
    border-radius: 50%;
	background:url("dp\\dp-small.jpg") no-repeat 50% 50%;
	background-size:contain;
}
.name{
	margin-top:-20px;
	margin-left:30px;
	font-family:Segoe UI;
	font-size:30px;
	font-weight:bold;
	color:#714A4A;
}
.tagname{
	margin-top:-25px;
	margin-left:30px;
	font-family:Segoe UI;
	font-size:20px;
	color:#707070;
}
.Picon{
	margin-top:40px;
	margin-left:32px;
	height:30px;
	width:250px;
}
.Picon img{
	margin-bottom:-5px;
}
.Plabel{
	font-family:Segoe UI;
	font-size:20px;
	font-weight:bold;
	color:#26869A;
	letter-spacing:1px;
}
.Ptext{
	margin-top:5px;
	margin-left:2px;
	font-family:Segoe UI;
	font-size:15px;
	color:#26869A;
}
.social{
	margin-top:75px;
	margin-left:30px;
	height:50px;
	width:230px;
}

.fb{
	display:inline-block;
	height:40px;
	width:40px;
	border-radius:50%;
	margin:1px 2px;
	background:url("logo\\fb.svg") no-repeat 50% 50%;
	background-size:contain;
}
.fx{
	display:inline-block;
	height:45px;
	width:45px;
	border:1px solid white;
	border-radius:50%;
	margin-bottom:-2px;
	background:url("logo\\500px.svg") no-repeat center;
	background-size:44px 44px;
}
.in{
	display:inline-block;
	height:40px;
	width:40px;
	border:1px solid white;
	border-radius:50%;
	margin:1px 2px;
	background:url("logo\\instagram.svg") no-repeat 50% 50%;
	background-size:38px 38px;
}
.tw{
	display:inline-block;
	height:40px;
	width:40px;
	border-radius:50%;
	margin:1px 2px;
	background:url("logo\\twitter.svg") no-repeat 50% 50%;
	background-size:contain;
}
.location{
	margin-top:23px;
	margin-left:36px;
	font-family:Segoe UI;
	font-size:17px;
	color:#707070;
}
.email{
	margin-top:-10px;
	margin-left:36px;
	font-family:Segoe UI;
	font-size:17px;
	color:#707070;
}

@media screen and (max-width:501px){
	.panel{
	width:100%;
	}
}
